<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpM7qX2ifSS1aG_yYwNREadiCeokQMVVg</string>
	<key>GCM_SENDER_ID</key>
	<string>529222992857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proneurolight.brainsherpa</string>
	<key>PROJECT_ID</key>
	<string>brainsherpa-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>brainsherpa-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529222992857:ios:9a77fbc58d3351de244fc8</string>
	<key>DATABASE_URL</key>
	<string>https://brainsherpa-backend-default-rtdb.firebaseio.com</string>
</dict>
</plist>